
.containerInfo, .containerSocial{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    @media screen and (max-width : 700px) {
        padding: 0;
    }
    
    
}

.info{
    width: 80%;
}

.social{
    width: 40%;
    
}

.socialList{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerContainer{
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: #00C4F5;
    min-height: 20vh;
    
    
}


.icon{    
    color: black;
    margin: 1em;
}

.liSocial{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    width: 40%;    
    text-align: center;
    margin: 1em;
    
   
}

